{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/appointments/appointment-index.css' %}"/>
{% endblock %} {% block content %}

<section class="apt-container">
  <div class="appointments">
    {% if appointment_list %}
    <h1>Appointments:</h1>

    {% for appointment in appointment_list %}

    <div class="appointment">
      <a href="{% url 'appointment-details' appointment.id %}">
       <span> {{appointment.patient}}:</span> {{ appointment.date }} with
        {{appointment.dr_name}}</a
      >
    </div>
    
    {% endfor %}
  </div>

  {% else %}
  <h1>No appointments</h1>
  {% endif %}
</section>

{% endblock content %}
