{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/forms/add-form.css' %}" />
{% endblock %} {% block content %}

<div class="page-header">
  {% if object %}
  <h1>Edit {{ object.name }}</h1>
  {% else %}
  <h1>Add a Patient</h1>
  {% endif %}
</div>

<div class="form">
  <form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>
      {{form.as_table}}
    </table>
    <button type="submit" class="btn patient-submit">Submit</button>
  </form>
</div>

{% endblock content %}
