{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>CareScribe</title>

    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <div class="img-header">
        <img src="{% static 'images/headerimg.png' %}" alt="care bear" width="75" height="70">
        <h1>
          Care Scribe
        </h1>
        </div>

        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'patient-index' %}">Patients</a></li>
          <!-- <li><a href="{% url 'appointment-index' %}">Appointments</a></li> -->
          <li><a href="{% url 'calendar-view' %}">Calendar</a></li>
          <li><a href="{% url 'patient-create' %}">Add a patient</a></li>
          <li><a href="{% url 'add-appointment' %}">Add an appointment</a></li>
          <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="logout-btn">Log out</button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign up</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>

          {% endif %}
        </ul>
      </nav>
    </header>

    <main>{% block content %} {% endblock content %}</main>
  </body>
</html>
