h2{
  text-align: center;
}

.details-page {
  margin-left: 10%;
}

.patient-details,
.apts-container,
.medication-container {
  margin-left: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
}

.apt,
.medication {
  border: solid var(--patientborder);
  border-radius: 2px;
  background-color: var(--patientback);
  width: 30%;
  height: 28px;
  margin-bottom: 10px;
  font-size: 17px;
}

.patient-details {
  border: solid var(--patientborder);
  background: var(--patientback);
  margin-top: 20px;
  margin-bottom: 30px;
  width: 60%;
}

.medication-section, .details-container{
  margin-top: 30px;
}